body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* 上下のスペースを広げる */
    min-height: 100vh; /* ビューポート全体の高さに合わせる */
    font-family: "Arial";
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
}

.blog-details {
    /*最大幅の設定*/
    max-width: 900px;
    /*枠の外側上下を40xp左右を自動調整*/
    margin: 20px auto;
    /*内側の余白設定*/
    padding: 70px 60px;
    /*背景色の設定*/
    background-color: #fff;
    /*角の設定*/
    border-radius: 10px;
    /*影の追加により立体的*/
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    min-height: 500px;
}

.blog-details h1 {
    /*文字サイズ*/
    font-size: 2.5em;
    /*色*/
    color: #2e838b;
    /*中央ぞろえ*/
    text-align: center;
    /*下の余白*/
    margin-bottom: 20px;
}

.blog-images {
    display: flex;
    justify-content: center; /* 横方向の中央揃え */
    width: 100%; /* コンテナ幅を100%に */
    overflow: hidden;
}

.blog-images img {
    width: 80%; /* 画像の横幅を広げる */
    height: auto; /* 高さを自動調整 */
    max-height: 550px; /* 画像の縦幅を広げる */
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}

.blog-details p {
    /*文字サイズ*/
    font-size: 1.2em;
    /*行間の設定で読みやすさ*/
    line-height: 1.6;
    /*色*/
    color: #555;
    /*テキストの両端揃え*/
    text-align: justify;
}

.back-link {
    text-align: center;
    margin-top: 20px;
}

.back-link a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.back-link a:hover {
    text-decoration: underline;
}

.blog-time {
    text-align: right;
}
