.blog-details {
    max-width: 900px;
    margin: 20px auto;
    padding: 70px 60px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    min-height: 500px;
}

.blog-details h1 {
    /*文字サイズ*/
    font-size: 2.5em;
    /*色*/
    color: #2e838b;
    /*中央ぞろえ*/
    text-align: center;
    /*下の余白*/
    margin-bottom: 20px;
}

.blog-images {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.blog-images img {
    width: 100%;
    height: auto; /* 高さを自動調整 */
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}

.blog-details p {
    /*文字サイズ*/
    font-size: 1.2em;
    /*行間の設定で読みやすさ*/
    line-height: 1.6;
    /*色*/
    color: #555;
    /*テキストの両端揃え*/
    text-align: justify;
}

.back-link {
    text-align: center;
    margin-top: 20px;
}

.back-link a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.back-link a:hover {
    text-decoration: underline;
}

.blog-time {
    text-align: right;
}
