body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.header {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    font-size: 24px;
}

.event-detail {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    margin-top: 20px;
}

.event-title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
}

.event-images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.event-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.event-description,
.event-period,
.event-participants,
.event-created {
    font-size: 16px;
    margin-bottom: 10px;
    color: #555;
}

.event-period span,
.event-participants span,
.event-created span {
    font-weight: bold;
}

.back-link {
    text-align: center;
    margin-top: 20px;
}

.back-link a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.back-link a:hover {
    text-decoration: underline;
}
