body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    color: #4caf50;
    margin-top: 25px;
    margin-bottom: 15px;
}

.event-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.event {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    padding: 25px;
    width: calc(50% - 20px);
    box-sizing: border-box;
}

.event-title {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

.event-images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.event-image {
    max-width: 50%;
    height: auto;
    border-radius: 5px;
}

.event-description,
.event-period,
.event-participants {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 10px;
}

.event-period span,
.event-participants span {
    font-weight: bold;
}

@media (max-width: 768px) {
    .event {
        width: calc(100% - 20px);
        padding: 15px;
    }

    .event-title {
        font-size: 1.5em;
    }

    .event-description,
    .event-period,
    .event-participants {
        font-size: 1em;
    }

    a {
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    .event-title {
        font-size: 1.2em;
    }

    .event-description,
    .event-period,
    .event-participants {
        font-size: 0.9em;
    }

    .event-images {
        flex-direction: column;
    }
}
