.container {
    width: 40%; /* 背景色の幅を画面の80%に制限 */
    margin: 0 auto; /* 左右中央寄せ */
    text-align: center;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 170px; /* ヘッダーの下に余白を開ける */
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

p {
    margin-bottom: 20px;
    font-size: 18px;
    color: #666;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #76b278;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #7b9e7d;
}
