body {
    font-family: Arial, sans-serif;
    margin: 40px;
    padding: 0;
    background-color: #f8f9fa;
}

h2 {
    text-align: center;
    padding: 20px;
    font-size: 2em;
    color: #4caf50;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Arial", sans-serif;
}

.vegetableLineup-items {
    list-style: none;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}

.vegetableLineup-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 50px;
    margin: 10px;
    box-sizing: border-box;
    width: 300px;
    flex: 0 0 auto;
}

.vegetableLineup-item-container {
    display: block;
    text-decoration: none;
    color: inherit;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
}

.vegetableLineup-item-container:hover {
    transform: translateY(-5px);
}

.vegetableLineup-item-img {
    width: 80%;
    height: 350px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vegetableLineup-item-img img {
    width: 50%;
    height: auto;
}

.vegetableLineup-item-body {
    padding: 10px;
    text-align: center;
}

.vegetableLineup-item-name {
    font-size: 1.2em;
    margin: 0;
    color: #333;
}

@media (max-width: 480px) {
    .vegetableLineup-item {
        width: calc(100% - 20px);
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .vegetableLineup-item {
        width: calc(50% - 20px);
    }
}

@media (min-width: 769px) {
    .vegetableLineup-item {
        width: calc(33.333% - 20px);
    }
}
