body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

h2 {
    text-align: center;
    font-size: 2.5em;
    color: #4caf50;
    margin-top: 25px;
    margin-bottom: 15px;
    font-family: "Arial", sans-serif;
}

.vegetableLineup-items {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.vegetableLineup-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 50px;
    margin: 10px;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease, transform 0.2s ease-in-out;
    width: 300px;
    flex: 0 0 auto;
}

.vegetableLineup-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}

.vegetableLineup-item-img {
    width: 80%; /* 画像の幅を調整して左右に余白を作る */
    height: 200px;
    margin: 0 auto; /* 画像を中央に配置 */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vegetableLineup-item-img img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.vegetableLineup-item-body {
    padding: 70px 0 0 0;
    text-align: center;
}

.vegetableLineup-item-name {
    font-size: 1.2em;
    margin: 0;
    color: #333;
    font-weight: bold;
}

.link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.center-link {
    color: #4caf50;
    text-decoration: none;
    font-size: 16px;
}

.center-link:hover {
    text-decoration: underline;
}

@media (max-width: 480px) {
    .vegetableLineup-item {
        width: calc(100% - 20px);
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .vegetableLineup-item {
        width: calc(50% - 20px);
    }
}

@media (min-width: 769px) {
    .vegetableLineup-item {
        width: calc(33.333% - 20px);
    }
}
