body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    color: #333;
}

.vegetable-container {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    padding: 70px;
    background-color: #f3f3f3;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.vegetable-name {
    font-size: 40px;
    color: #2d7d46;
    text-align: center;
}

.vegetable-image {
    width: 80%;
    height: auto;
    display: block;
    margin: 20px auto 80px;
    border-radius: 10px;
}

.vegetable-description {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
    text-align: justify;
}
.back-link {
    text-align: center;
    margin-top: 20px;
}

.back-link a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.back-link a:hover {
    text-decoration: underline;
}

.centered-heading {
    text-align: center;
    margin-top: 1000spx;
}

.centered-heading {
    text-align: center;
}
.blog-details {
    width: 70%;
    margin: 30px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.related-blogs {
    margin-top: 30px;
}

.related-blogs h2 {
    color: #333;
    font-size: 1.8em;
    margin-bottom: 20px;
}

.blog-detail {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;
}

.blog-detail h3 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 15px;
}

.blog-images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.blog-images img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.blog-content {
    font-size: 1.2em;
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
}

.blog-time {
    color: #999;
    font-size: 0.9em;
    text-align: right;
}

.alert {
    padding: 20px;
    margin-bottom: 30px;
    border: 1px solid transparent;
    border-radius: 4px;
    position: relative;
    transition: opacity 0.3s ease-in-out;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
