body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input[type="text"],
textarea,
input[type="file"] {
    width: 97%;
    max-width: 700px;
    padding: 8px;
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #ddd;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.custom-alert {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.custom-alert ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.custom-alert li {
    margin-bottom: 5px;
}
.dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
}

.checkbox-group {
    padding: 10px;
}

.form-check {
    margin-bottom: 10px;
}

.form-check-input {
    margin-right: 10px;
}

.form-check-label {
    margin-bottom: 0;
}
.custom-dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdown-checkbox {
    display: none;
}

.dropdown-label {
    display: block;
    padding: 10px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
}

.dropdown-label:hover {
    background-color: #0056b3;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1;
}

.dropdown-checkbox:checked ~ .dropdown-content {
    display: block;
}

.checkbox-group {
    padding: 10px;
}

.form-check {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-check-input {
    margin-right: 10px;
    margin-top: 0;
}

.form-check-label {
    margin-bottom: 0;
    margin-top: 0;
}

.selected-vegetables {
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.selected-vegetables span {
    display: inline-block;
    background-color: #96c296;
    color: white;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 4px;
}
