body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table th,
.table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
}

.vegetable-image {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.link-container {
    margin-bottom: 10px;
    text-align: center;
}

.link-container a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.link-container a:hover {
    text-decoration: underline;
}

.desc-column {
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
}
